<!DOCTYPE html>
<html lang={{ site.language }}>
  {% include head.html %}
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KJ747KN"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% include header.html %}
    <main class="main">
      <div class="container">
        <article class="article card">
          <header class="article-header card-header">
            <h1 class="card-heading">
              <a href="{{ page.url | prepend:site.github.url }}">
                {{ page.title }}
              </a>
            </h1>
            <div class="article-header-note">
              {{ page.date | date: "%Y年%m月%d日" }}
            </div>
          </header>
          <section class="card-body markdown">
            <p>
              <audio
                id="js-audio"
                controls=""
                preload="auto"
                src="https://d2pbwgl7adh1pt.cloudfront.net{{ page.audio_file_path }}"
                width="100%"
              >
              </audio>
            </p>
            <p class="text-right">
              <small>
                <a href="https://d2pbwgl7adh1pt.cloudfront.net{{ page.audio_file_path }}">MP3ファイルをダウンロード</a>
              </small>
            </p>
            <h2>
              内容紹介
            </h2>
            <p>
              {{ page.description }}
            </p>
            <h2>
              出演者
            </h2>
            <div class="article-actors">
              {% for actor_id in page.actor_ids %}
                {% assign actor = site.actors[actor_id] %}
                <a href="/profile#anchor_{{ actor_id }}" class="actor">
                  <img src="{{ actor.image_url | prepend:site.github.url }}" alt="{{ actor.name }}" class="actor-image" width="72" height="72">
                  <br>
                  {{ actor.name }}
                </a>
              {% endfor %}
            </div>
            {{ content }}
          </section>
          <footer class="article-footer">
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?hashtags={{ site.hashtag }}&url={{ site.github.url }}{{ page.url }}&text={{ page.title }}">
              Tweet
            </a>
          </footer>
        </article>
      </div>
    </main>
    {% include footer.html %}
    <script>
      var audio = document.getElementById('js-audio');
      
      // GTM
      var episode = audio.src.replace(/\/([0-9]+)\.mp3$/, '$1');
      audio.addEventListener('play', function() {
        dataLayer.push({
          episode: episode,
          event: 'play_episode'
        });
      });

      // chapter
      function getSecondsFromTime(time) {
        var [seconds, minutes, hours] = time.split(':').reverse();
        var currentTime = parseInt(seconds, 10);
        if (minutes) currentTime += parseInt(60 * minutes, 10);
        if (hours) currentTime += parseInt(60 * 60 * hours, 10);
        return currentTime;
      }

      var time = location.hash.replace(/.*#t=([\d:]+).*/, '$1');
      if (time) {
        audio.currentTime = getSecondsFromTime(time)
      }

      // chapter link
      var anchors = document.querySelector('#chapters').nextElementSibling.querySelectorAll('a');
      anchors.forEach(anchor => {
        anchor.addEventListener('click', (e) => {
          var time = e.target.href.replace(/.*#t=([\d:]+).*/, '$1');
          var currentTime = getSecondsFromTime(time);
          audio.currentTime = currentTime;
          audio.play()
        })
      })
    </script>
  </body>
</html>
